# Build folders
build/
app/build/
captures/
bin/
gen/
out/

# Local configuration files
local.properties
.gradle/
.navigation/
.externalNativeBuild/
.cxx/

# Android Studio and IntelliJ files
.idea/
*.iml
*.iws
*.ipr

# Log files
*.log
.DS_Store
Thumbs.db

# Keystore files
*.jks
*.keystore
*.pk8
*.p12